<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gilbert Morett Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-card>
    <ion-row>
      <ion-col class="container--center" size="12">
        <img style="width: 260px;" src="../../assets/MasGlobal_logo_full-1.png" />

      </ion-col>
    </ion-row>

    <ion-card-header>
      <ion-card-title class="container--center">Mobile Hands On Test</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="onFetchUsers()">{{isButtonClicked ?'Refresh Users' : 'Fetch Users'}}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-spinner *ngIf="isLoadingUsers$ | async" name="crescent"></ion-spinner>

    </ion-col>
  </ion-row>


  <ion-list lines="full" *ngIf="(this.userList$ | async)">
    <ion-list-header>
      <h3>User List</h3>
    </ion-list-header>

    <ion-item (click)="showUserDetail(user)" *ngFor="let user of (this.userList$ | async); let i = index"
      [ngClass]="{'list-item-primary': i%2 === 0, 'list-item-secondary': i%2 !== 0}">
      <ion-avatar slot="start">
        <img [src]="user.picture.large">
      </ion-avatar>
      <ion-label>
        <h2>{{user.name.first}} {{user.name.last}}</h2>
        <h3>{{user.email}}</h3>
        <p>{{user.phone}}</p>
      </ion-label>
    </ion-item>
    <br><br>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </ion-list>
  <ion-fab *ngIf="isGoToTopEnabled" class="main-ion-fab" (click)="content.scrollToTop()" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>